.form{
    display: flex;
    justify-content:center;
    margin-left: 25px;
}
.inputForm{
    width: 100%;
    display: flex;
    justify-content:center;
}
.search {
    color: white;
}
.searchText {
    width: 100%;
    height: 30px;
    border-radius: 20px;
}
.buttonSearch {
    display: flex;
}
.buttonSearch img:hover {
    cursor: pointer;
}