.Movie {
    display: flex;
    width: 22%;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nameMovie {
    color: yellow;
}
.Star {
    color: yellow;
}
#Badge {
    margin-top: 30px;
}